<%# <%= turbo_frame_tag dom_id(subgroup) do%>
  <div>
    <%= ": #{subgroup.subgroup}" %></p>
    <%= link_to t('.delete'), user_subgroup_path(subgroup.user.id, subgroup),
        method: :delete, data: { turbo_method: 'delete', turbo_confirm: t('.sure')}%>
  </div>
<%end%> %>
